body {
    /* background-color: #3f3d3d; */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('img/body-bg.jpg');
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Define different background colors for alternate rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media only screen and (max-width: 1290px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 60%;
        /* border: 1px solid red; */
    }

    table {
        display: block;
        width: 400px;
        /* border: 1px solid rgb(52, 7, 250); */
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        /* border: 1px solid rgb(10, 228, 57); */
    }

    th {
        /* text-align: center; */
        display: none;
    }
}
